<!--<h1>New Picture</h1>-->

<%= render 'form' %>


<%= link_to 'ノーマル版に戻る', user_indices_path(@user), data: {"turbolinks" => false}, class: 'btn btn-info' %>
<%= link_to 'CSV版に戻る', index_csv_user_indices_path(@user), data: {"turbolinks" => false}, class: 'btn btn-info' %>
