// Place all the styles related to the Indices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.draganddrop {
    width: 100px;
    height: 100px;
    float: left;
    padding: 0 2px 0 0;
    cursor: move;
}

.t-1 {
    height: 25px;
    width: 50px;
    text-align: center;
    border: solid thin; 
    border-color: black;
    
}

.t-2 {
    height: 25px;
    width: 80px;
    text-align: center;
    border: solid thin; 
    border-color: black;
}

.t-3 {
    height: 25px;
    width: 50px;
    text-align: center;
    border: solid thin; 
    border-color: black;
}

.t-4 {
    height: 25px;
    width: 406px;
    text-align: center;
    border: solid thin; 
    border-color: black;
}


.droppedimages {
    width: 100px;
    height: 100px;
    float: left;
    padding: 0 2px 0 0;
}

.t-1 dropbox {
    height: 25px;
    width: 100px;
}