// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.canvas {
      display: none;
      width: 1280px;
      height: 720px;
}

// .takepic {
//     position: relative;
// }

#canvass {

      width: 640px;
      height: 360px;
}

#camera {
      display: inline;
}