// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.canvas {
//     visibility: hidden;
      width: 1000px;
      height: 640px;
}

// .takepic {
//     position: relative;
// }

#canvas2 {

      width: 640px;
      height: 360px;
}

#camera {
      
      // object-fit: contain;
}